<header>
    <nav class="navbar">
        <h1 class><a href="index.html">Learn CSS with Angel</a></h1>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="selectors.html">Selectors</a></li>
            <li><a href="colors-fonts.html">Colors and Fonts</a></li>
            <li><a href="box-model.html">Box Model</a></li>
            <li><a href="layout-positioning.html">Layout and Positioning</a></li>
            <li><a href="animations.html">Animations</a></li>
            <li><a href="practice.html">Practice</a></li>
        </ul>
    </nav>
</header>
