<header>
    <h1>Andrew Edgerton's Adventurous Emu || ITIS 3135</h1>
    <nav>
        <a href="./">Home</a>
        <span> | </span>
        <a href="intro.html">Introduction</a>
        <span> | </span>
        <a href="contract.html">Contract</a>
        <span> | </span>
        <a href="website_evaluations.html">Website Evaluations</a>
        <span> | </span>
        <a href="adventurousemu/">Mascot Site</a>
        <span> | </span>
        <a href="stuff/I%20Love%20%23Minecraft.HTM">Crappy Site</a>
    </nav>
</header>